.buttonNav {
  min-width: 200px;
  min-height: 40px;
  font-family: 'PaybAck';
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(90deg, #ffffff 0%, #d1834f 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 5px 5px 16px #d18a4fa3;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  transform: scale(0.7, 0.7);
}

.buttonNav::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(180px + 12px);
  min-height: calc(30px + 12px);
  border: 6px solid #ff8800;
  box-shadow: 0 0 60px #ff7300a3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.buttonNav:hover::before,
.buttonNav:focus::before {
  opacity: 1;
}
