.posterMovie {
  margin: 1rem 0px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: fit-content;
  max-height: fit-content;
}
.posterMovie:hover {
  transform: scale(1.2, 1.2);
  transition: transform 0.5s ease-in-out;
}

.containersMovies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgContainer {
  box-shadow: 7px 7px 5px white;
}
.btn-principal-card {
  position: relative;
  right: -88px;
  top: 24px;
}
.btn-principal-card:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s ease-in-out;
}
.name-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 10px;
  box-shadow: 7px 7px 5px white;
  background-color: aliceblue;
  width: min-content;
  width: 13.2rem;
  height: max-content;
  height: 65px;
  font-family: 'PaybAck';
  font-size: 15px;
}
.title {
  font-family: 'Vehicle Breaks Down';
  color: white;
  text-shadow: 0px 0px 30px #ff9900;
  font-size: 4rem;
}
.title:hover {
  text-shadow: 1px 1px 50px #ff9900;
}

.search-movie {
  min-width: 330px;
  min-height: 40px;
  font-family: 'PaybAck';
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(90deg, #ffffff 0%, #cdedff 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px #4facd1a3;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  transform: scale(0.7, 0.7);
}
.search-movie:hover {
  border: 6px solid #00ccff;
  box-shadow: 0 0 60px #00d9ffa3;
}

.btn-search {
  border: transparent;
  background: transparent;
  position: absolute;
  right: 45%;
  top: 35%;
}

.btn-search:hover {
  cursor: pointer;
  border-radius: 1000px;
  transform: scale(1.3, 1.3);
  transition: transform 0.3s ease-in-out;
}
